* { 
  padding: 0; margin: 0; 
}

.header-links {
  background-color: #aceace;
  display: flex;
  justify-content: center;
}

.canvas-wrapper > div {
  margin: auto;
  display: flex;
  flex-direction: column;
}

i {
  font-size: 5rem;
  text-decoration: none;
  color: blue;
}

/* .canvas-wrapper > nav > p {
  margin-right: 20px;
} */

.canvas-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

#myCanvas { 
  background: #000; 
}

#secondCanvas { 
  position: absolute;
  top: 0;
  left: 0;
  background: #000; 
  display: block; 
  z-index: 1; 
}

audio {
  display: none;
}